<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~rajankz/newaast/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~rajankz/newaast/index.php [L]
</IfModule>

# BEGIN WordPress

# END WordPress
