.span21{border:1px solid pink;}
.span81{border:1px solid blue;}
ul li{list-style: none;}
input[type="text"]{
	padding:5px 3px;
	height: auto;
	border-radius: 2px;
	min-width: 400px;
	margin-bottom: 15px;
}
textarea{
	width:auto;
	margin-bottom: 15px;
}
.error{color:red;}
.iseriesTbl{border:1px solid #ccc;}
.iseriesTbl thead{font-size: 1.2em;font-weight: 600;}
.iseriesTbl tr{border-bottom:1px solid #ccc;}
.iseriesTbl tr td{border-right:1px solid #ccc;padding:3px 5px;}