.login{
    width: 500px;
    margin:auto;
    border:1px solid #ccc;
    border-radius: 4px;
    padding:10px;
}

#UserRegisterForm{
    width:400px;
    margin:auto;
}
#banner{
    margin: auto;
    text-align: center;
}
#sidemenu{
    width: 200px;
    padding:15px;
    background: #C6D3E1;
    border: 1px solid #A4B8CD;
    min-height: 300px;
    box-shadow: 1px 1px 0 #fff;
    margin: -1px 0 0 -1px;
    float: left;
    font-family: Helvetica, 'lucida grande', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
#sidemenu a{
    box-shadow: none;
    padding: 1px 15px;
    color: #1A3F7E;
    cursor: auto;
    display: block;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: rgba(0,0,0,0) 1px 1px 0px, #A4AFBA 1px 1px 1px;
    text-transform: capitalize;
    vertical-align: baseline;
    font-style: normal;
}
#sidemenu a:hover{
    color: #1A3F7E;
    padding: 0 14px;
    background: #EEE;
    background-color: #EDEDED;
    border: 1px solid #AFBAC6;
    border-bottom-color: #8E97A0;
    border-top: 1px solid white;
    box-shadow: 0 -1px 0 #AFBAC6;
    border-radius: 4px;
}

.buttonLink{
    font-family: Helvetica, 'lucida grande', sans-serif;
    display: inline;
    margin: auto 5px;
    width: 80px;
    padding:7px 5px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #ccc;
    background-color: #2e51a2;
    box-sizing: border-box;
    border-radius: 3px;
}


.defaultText { width: 300px; }
.defaultTextActive { color: #3c3c3c; }

#worksheetForm{
    width:750px;
    border: 1px solid #cccccc;
    float:left;
    margin: 0 10px;
    text-align: left;
}

.center{
    text-align: center;
}

table.uiGrid{
    border: none;
    border-collapse: collapse;;
    border-spacing: 0;
    margin: 0;
}

input{
    width: 250px;
    padding: 6px;
    font-size:16px;
}

td.label{
    text-align: right;
    vertical-align: middle;
}
.table400{
    width: 400px;
}
#formBox{
    padding-left: 0;
    vertical-align: middle;
}
#formBox>table tr:nth-child(even) {
    background: none;
}
#formBox>table tr td {
    border: none;
}