a{
	color: #880000;
	text-decoration: none;
}
/** Table **/
table {
	border:0;
	clear: both;
	color: #333;
	margin-bottom: 7px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
	text-shadow: 1px 1px 0px #fff;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table.dataGrid tr:nth-child(odd) {
	background: #fefefe;
}

.login{
    width: 500px;
    margin:auto;
    border:1px solid #ccc;
    border-radius: 4px;
    padding:10px;
}

#UserRegisterForm{
    width:400px;
    margin:auto;
}
#banner{
    margin: auto;
    text-align: center;
}
#sidemenu{
    width: 200px;
    padding:15px;
    /*background: #C6D3E1;*/
    border: 1px solid #A4B8CD;
    min-height: 300px;
    box-shadow: 1px 1px 0 #fff;
    margin: 0px 0 0px 0px;
    float: left;
	background-color: #dae0e7;
	font: 400 12px Helvetica, 'lucida grande', sans-serif;
}
#sidemenu a{
    box-shadow: none;
    padding: 1px 15px;
    color: #1A3F7E;
    cursor: auto;
    display: block;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(254, 254, 254), 1px 1px 1px #A4AFBA;
    text-transform: capitalize;
    vertical-align: baseline;
    font-style: normal;
	font-variant: small-caps;
	font-size: 1.3em;
	margin-bottom: .5em;
	font-weight: 600;
}
#sidemenu a:hover, #sidemenu a:active{
    color: #1A3F7E;
    padding: 0 14px;
    background: #EEE;
    background-color: #EDEDED;
    border: 1px solid #AFBAC6;
    border-bottom-color: #8E97A0;
    border-top: 1px solid white;
    box-shadow: 0 1px 0 #AFBAC6;
    border-radius: 2px;
}

#navmenu{
    width: 1000px;
    display: inline;
    /*background: #C6D3E1;*/
    float: left;
    border: 1px solid #A4B8CD;
    min-height: 33px;
    box-shadow: 1px 1px 0 #fff;
    margin: 2px 8px;
	background-color: #dae0e7;
	font: 400 12px Helvetica, 'lucida grande', sans-serif;
	vertical-align: middle;
}
#navmenu a{
	vertical-align: baseline;
    box-shadow: none;
    padding: 5px 15px;
    color: #1A3F7E;
    cursor: auto;
    display: inline;
    height: 33px;
    line-height: 33px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(254, 254, 254), 1px 1px 1px #A4AFBA;
    text-transform: capitalize;
    vertical-align: baseline;
    font-style: normal;
	font-variant: small-caps;
	font-size: 1.3em;
	margin-bottom: .5em;
	font-weight: 600;
}
#navmenu a:hover, #navmenu a:active{
    color: #880000;
    /*padding: 0 14px;
    background: #EEE;
    background-color: #EDEDED;
    border: 1px solid #AFBAC6;
    border-bottom-color: #8E97A0;
    border-top: 1px solid white;
    box-shadow: 0 -1px 0 #AFBAC6;
    border-radius: 2px;*/
}

.horizontalSeperator{
	border-right: 1px solid #A4B8CD;display: inline;height: 30px;
}


.buttonLink{
    font-family: Helvetica, 'lucida grande', sans-serif;
    display: inline;
    margin: auto 5px;
    width: 80px;
    padding:7px 5px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #ccc;
    background-color: #2e51a2;
    box-sizing: border-box;
    border-radius: 3px;
}


.defaultText { width: 300px; }
.defaultTextActive { color: #3c3c3c; }

#theContent{
    width:990px;
    border: 1px solid #cccccc;
    float:right;
    margin: 0px 10px 0 5px;
    text-align: left;
    min-height:300px;
    padding:15px 5px;
    background-color: #efefef;
}

#theContent h2{
	font-family: 'Helvetica Neue';
	font-weight: 200;
	margin-top: auto;
}

.center{
    text-align: center;
}
.red{color:#880000;text-shadow: 1px 1px 0 #fff;}
input .redButton{background-color: #990000;color:#fefefe;}
.redButton:hover{background-color: #333;}

.grey{color:#444;text-shadow: 1px 1px 0 #fff;}

table.uiGrid{
    border: none;
    border-collapse: collapse;;
    border-spacing: 0;
    margin: 0;
}

input{
    padding: 4px;
    font-size:13px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

input.small{
	padding:3px;
	font-size: 10px;
	border:1px solid #999;
}

input[type=submit].redBtn {
background: #993838;
background: -moz-linear-gradient(top,  #993838 0%, #991818 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#993838), color-stop(100%,#991818));
background: -webkit-linear-gradient(top,  #993838 0%,#991818 100%);
background: -o-linear-gradient(top,  #993838 0%,#991818 100%);
background: -ms-linear-gradient(top,  #993838 0%,#991818 100%);
background: linear-gradient(to bottom,  #993838 0%,#991818 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#993838', endColorstr='#991818',GradientType=0 );
border: 1px solid #732a2a;
box-shadow: inset 0px 0px 2px 1px #bc4848;
font-family: MuseoSans500, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input[type=submit].redBtn:hover {
background: #ba2727;
background: -moz-linear-gradient(top,  #ba2727 0%, #ba3737 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba2727), color-stop(100%,#ba3737));
background: -webkit-linear-gradient(top,  #ba2727 0%,#ba3737 100%);
background: -o-linear-gradient(top,  #ba2727 0%,#ba3737 100%);
background: -ms-linear-gradient(top,  #ba2727 0%,#ba3737 100%);
background: linear-gradient(to bottom,  #ba2727 0%,#ba3737 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba2727', endColorstr='#ba3737',GradientType=0 );
}

input[type=submit]{
background: #4e5c75;
background: -moz-linear-gradient(top,  #4e5c75 0%, #244275 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e5c75), color-stop(100%,#244275));
background: -webkit-linear-gradient(top,  #4e5c75 0%,#244275 100%);
background: -o-linear-gradient(top,  #4e5c75 0%,#244275 100%);
background: -ms-linear-gradient(top,  #4e5c75 0%,#244275 100%);
background: linear-gradient(to bottom,  #4e5c75 0%,#244275 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5c75', endColorstr='#244275',GradientType=0 );

	text-transform: capitalize;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	transition: background 0.3s ease;
	cursor: pointer;
	padding:5px 15px;
	border: 1px solid #2f4267;
	box-shadow: inset 0px 0px 2px 1px #47649c;
	font-weight: 400;
	font-size: 15px;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	color: white;
	text-decoration: none;
	line-height: 20px;
	letter-spacing: 1px;
	min-width: 70px;
	min-height: 30px;
	font-family: 'MuseoSans500', 'Courier','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.paginationTable{
	width:80%;
}

input[type=submit]:hover{
background: #47649b;
background: -moz-linear-gradient(top,  #47649b 0%, #617699 0%, #5d7399 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#47649b), color-stop(0%,#617699), color-stop(100%,#5d7399));
background: -webkit-linear-gradient(top,  #47649b 0%,#617699 0%,#5d7399 100%);
background: -o-linear-gradient(top,  #47649b 0%,#617699 0%,#5d7399 100%);
background: -ms-linear-gradient(top,  #47649b 0%,#617699 0%,#5d7399 100%);
background: linear-gradient(to bottom,  #47649b 0%,#617699 0%,#5d7399 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47649b', endColorstr='#5d7399',GradientType=0 );

}


input[type=submit].small:hover{
	border: 1px solid #333;
	background-color: #333;
	color:#eee;
}
.small{
	padding: 2px;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input.fields{
	width: 200px;
}

td.label{
    text-align: right;
    vertical-align: middle;
}
.table400{
    width: 0px;
}
.formBox{
    padding-left: 0;
    vertical-align: middle;
}
.formBox>table tr:nth-child(even) {
    background: none;
}
.formBox>table tr td {
    border: none;
}
.smallText label{
	display: inline;
}
.smallText input{
	width: 45px;
}
.noMargin{margin:0;}
#commonControls{
	/*float: right;*/
	float: right;
	width: 760px;
    border: 1px solid #cccccc;
    margin: 0 10px 5px 5px;
    text-align: right;
    padding:10px 5px;
    background-color: #ccc;
    border:1px solid #aaa;
}
#commonControls a{
	margin-right:10px;
}

#contentWrapper{
	text-decoration: none;
	margin:auto;
	padding:0;
}
#footer{
	margin: auto;
	padding: 10px;
	clear:both;
	text-align: center;
}

#container{
	background-color: #ffffff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

.flash{
	width: 100%;
	margin: auto;
	padding: 5px 10px;
	text-align: center;
	margin-bottom: 0px;
	width:  980px;
	margin-right: 10px;
	float: right;
}
.flash_error{
	border: 1px solid #800;
	background-color: #fdd8e0;
	color: #b40c0c;
}
.flash_success{
	border: 1px solid #046402;
	background-color: #d6feed;
	color: #1f5922;
}
.flash_info{
	border: 1px solid #7f5803;
	background-color: #fdf5aa;
	color: #a35402;
}
.floatLeft{float: left;}
.alignLeft{text-align: left;}
.floatRight{float: right;}

table.review th{
	font-size: 1.2em;
	font-weight: 400;
}
.reviewSections{
	float: left;
	border: 1px solid #357176;
	width: 305px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
}
.reviewHeader{
	background-color: #357176;
	color: #e3fbec;
	padding: 3px;
	font-weight: 400;
	text-shadow: 0px 0px 0px #fff;
}
.rtAlign{text-align: right;}
.ltAlign{text-align: left;}
.reviewerComments{
	padding: 5px;
}
.reviewText{
	padding: 5px;
}

#navListContainer, #navListContainer ul{
	margin: auto;
	padding:7px 0 5px 0;
	height:20px;
	position: fixed;
	bottom:0px;
	background-color: #333;
	width:999px;
	margin-left: -3px;
	z-index: 10;
	border-radius: 3px;
}
#navList>li, #navList>li>a{
	padding-left: 10px;
	list-style: none;
	display: inline;
	padding-right:5px;
	text-align: left;
	color:#aaa;
	font-weight: 400;
}
#navList>li>a:hover, #navList>li>a:active{
	color:#fff;
}
#navList>li.right>a{
	float:right;
}
#usability{
	float: right;
}
.alignLeft{text-align: left;}
td.label.alignLeft{text-align: left;}

a.buttonLink,input.buttonLink, button.buttonLink{
	border: 1px solid #EDA42E;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
	background: #FEC965;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEC965),color-stop(100%,#FEBC3E));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec965',endColorstr='#febc3e',GradientType=0);
	text-shadow: 0 1px 0 #EDA42E;
	-webkit-font-smoothing: antialiased;
	
	display: inline-block;
	
	margin: 0;
	border: 1px solid #FEC965;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 5px 4px;
	background: #FEC965;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.334em;
	font-weight: bold;
	color: white;
	cursor: pointer;
	
}
#allWorksheetTable{
	text-transform: capitalize;
	width:100%;
}
.clearBoth{clear:both;}
.actionLink a{
	background: #86B440;
	background: -moz-linear-gradient(top, #86B440 0%, #77AA39 92%, #659D30 100%);
	background: -webkit-linear-gradient(top, #86B440 0%, #77AA39 92%, #659D30 100%);
	background: linear-gradient(to bottom, #86B440 0%, #77AA39 92%, #659D30 100%);
	border: 1px solid #528B31;
	box-shadow: inset 0px 0px 1px 1px #93BB56;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	transition: background 0.3s ease;
	text-transform: capitalize;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	transition: background 0.3s ease;
	cursor: pointer;
	border: 1px solid #60A535;
	box-shadow: inset 0px 0px 2px 1px #98c14d;
	font-weight: 400;
	font-size: 15px;
	padding: 4px 14px;
	border-radius: 2px;
	display: inline-block;
	padding-top: 4px;
	text-align: center;
	color: white;
	text-decoration: none;
	height: 21px;
	line-height: 21px;
	letter-spacing: 1px;
}
.actionLink a:hover{
	background: #87d841;
	background: -moz-linear-gradient(top,  #87d841 0%, #69c419 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87d841), color-stop(100%,#69c419));
	background: -webkit-linear-gradient(top,  #87d841 0%,#69c419 100%);
	background: -o-linear-gradient(top,  #87d841 0%,#69c419 100%);
	background: -ms-linear-gradient(top,  #87d841 0%,#69c419 100%);
	background: linear-gradient(to bottom,  #87d841 0%,#69c419 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d841', endColorstr='#69c419',GradientType=0 );

}
#attachmentList{
	margin-bottom: 1em;
	clear: both;
}